.el-header {
    background-color: #444C63;
    color: #333;
    text-align: center;
    line-height: 60px;
    padding: 0;
}
.el-main {
    text-align: center;
    vertical-align: middle;
    background-color: #dddddd;
    height: 650px;
    color: #444C63;
}
.el-card {
    background-color: #f6f6f6;
}
.gate-title {
    font-size: 30px;
    text-align: center;
    float: left;
}
.icon {
    width: 60px;
    height: 60px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.icon-devices {
    /* float: left; */
    height: 60px;
    width: 60px;
    margin: 20px;
}
.icon-protocol {
    height: 60px;
    width: 60px;
    margin: 10px;
}
.device-number {
    font-weight: 700px;
    color: #00B5F9;
    font-size: 40px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.handle-id {
    /* height: 60px; */
    
    line-height: 1.7;
    font-size: 17px;
    /* flex-wrap: wrap; */
    word-wrap: break-word;
    word-break: break-all;
    font-weight: bold;
    text-align: left;
}
.width500 {
    width: 500px;
}
.scan-time {
    height: 25px;
    line-height: 1.7;
    font-size: 14px;
    color: #909399;
    text-align: left;
}